@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.65%;
  scroll-behavior: smooth;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  height: 100%;
}

header {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)),
    url("./assets/header-bg.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
}

.navigation {
  font-size: 1.7rem;
  display: flex;
  justify-content: space-between;
  padding: 3rem 2rem;
}

.logo {
  font-size: 2.7rem;
  font-weight: bolder;
}

.logo:hover {
  color: red;
}

.navigation ul {
  display: flex;
  list-style: none;
}

.navigation ul li {
  margin-right: 2rem;
}

.navigation ul li a {
  text-decoration: none;
  color: #fff;
}

.navigation ul li a {
  transition: all 0.5s;
}

.navigation ul li a:hover {
  color: red;
}

.intro {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.profile-img {
  height: 18rem;
  width: 18rem;
  border-radius: 50%;
  border: 0.3rem solid #fff;
  background-image: url("./assets/profile-img.jpg");
  background-size: cover;
  background-position: center;
  margin-bottom: 4rem;
}

.profile-name {
  font-size: 4.5rem;
  font-weight: bolder;
  margin-bottom: 1rem;
}

.profile-job {
  font-size: 1.8rem;
  color: rgb(190, 188, 188);
  margin-top: 1.5rem;
}

.icon-animate {
  padding-top: 8rem;
}

.icon-animate a {
  text-decoration: none;
  color: #fff;
}

.fa-chevron-down {
  animation-name: icon-move;
  animation-duration: 1.3s;
  position: relative;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  font-size: 3rem;
}

@keyframes icon-move {
  0% {
    bottom: 0;
  }

  50% {
    bottom: 2rem;
  }

  100% {
    bottom: 0;
  }
}

/*       ABOUT SECTION      */

#about {
  margin-top: 8rem;
}

.about-profile {
  display: flex;
  gap: 10rem;
  justify-content: space-between;
}

.about-info {
  padding: 2rem;
}

.about-info h2 {
  font-size: 3rem;
  margin-top: 2rem;
}

.about-info h3 {
  font-size: 1.6rem;
  margin-top: 1rem;
  color: rgba(0, 0, 0, 0.747);
}

.about-info p {
  font-size: 1.5rem;
  line-height: 1.5;
  margin-top: 2rem;
}

.btn {
  background-color: black;
  color: white;
  padding: 1rem 2rem;
  outline: none;
  border: 0;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.5s;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 14rem;
  margin-top: 2.5rem;
}

.download-btn-text {
  font-size: 1.5rem;
}

.btn:hover {
  background-color: rgb(69, 156, 69);
}

.icons {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  width: 40%;
}

.icons i {
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.5s;
}

.icons a {
  color: black;
  text-decoration: none;
}

.icons i:hover {
  color: red;
  transform: scale(1.5);
}

.fa-download {
  font-size: 1.2rem;
}

.profile-img-2 {
  height: 45rem;
  width: 45rem;
  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem 1rem #444;
}

.profile-img-2 {
  overflow: hidden;
}

.profile-img-2 img {
  transition: all 0.5s;
  width: 100%;
}

.profile-img-2 img:hover {
  transform: scale(1.1);
}

/* SKILLS SECTIONS */

.skills {
  margin-top: 15rem;
  background-color: #f2f2f2;
  text-align: center;
  padding: 8rem 5rem 10rem 4rem;
}

.skills h2 {
  font-size: 3.5rem;
  font-weight: lighter;
}

.skill-set {
  margin-top: 5rem;
  display: flex;
  justify-content: space-evenly;
}

.skill-set i {
  font-size: 6rem;
  transition: all 0.5s;
  cursor: pointer;
}

.skill-set i:hover {
  transform: scale(1.5);
}

.fa-html5 {
  color: red;
}

.fa-css3 {
  color: blue;
}

.fa-js {
  color: rgb(104, 104, 39);
}

.fa-react {
  color: rgb(44, 44, 207);
}

.fa-node {
  color: rgb(31, 190, 31);
}

.fa-database {
  color: black;
}

.skill-set .fa-github {
  color: blue;
}

/*  PORTFOLIO SECTION */

#portfolio {
  text-align: center;
  margin-top: 8rem;
}

#portfolio h2 {
  font-size: 2.8rem;
}

.project-categories button {
  margin: 5rem 2rem;
}
.p-btn {
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  padding: 1.2rem 3rem;
  border-radius: 2rem;
  transition: all 0.5s;
  letter-spacing: 0.4rem;
}

.p-btn:hover {
  background-color: green;
}

#btn-active {
  background-color: green;
}

.all-project {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 4rem;
  row-gap: 4rem;
  margin-top: 3rem;
  transition: all 0.5s;
}

.project {
  height: 25rem;
  width: 35rem;
  position: relative;
  transition: all .8s;
}

.project-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  background-color: rgb(68, 68, 68);
  color: #fff;
  padding: 0.5rem 2rem;
  border-radius: 0.6rem;
  display: none;
}

.project:hover {
  box-shadow: 0.5rem 1rem 1rem rgb(116, 115, 115);
  cursor: pointer;
}

.project:hover .project-text {
  display: block;
}

.p-1 {
  width: 100%;
  object-fit: cover;
}
